* {
  box-sizing: border-box;
  font-family: Noto Sans;
}

body {
  justify-content: center;
  background-color: white;
}

.create_container {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  border-radius: 16px;
  width: 100%;
  padding-bottom: 30px;
  padding: 30px;
  display: block;
  background-color: #f7f6ee;
  max-width: 400px;
  min-width: 320px;
}

.create_header_plan {
  font-size: 32px;
  font-weight: 700;
  margin-top: 8px;
}

.create_title {
  width: 100%;
  padding: 4px;
  border-radius: 8px;
  font-size: 15px;
  margin-top: 30px;
  border: 1px solid #edebd9;
  background: #ffffff;
  color: #1f2d10;
  font-size: 24px;
  font-weight: 700;
}

.create_date_title {
  font-size: 12px;
  color: #596123;
  padding-bottom: 8px;
  padding-top: 16px;
  font-weight: 400;
}

input[type="text"],
[type="date"] {
  padding-left: 8px;
}

.create_dates {
  display: flex;
  justify-content: space-between;
}

#create_date_from {
  border: 1px solid #edebd9;
  width: 100%;
  margin-right: 10px;
  padding: 4px;
  color: #1f2d10;
}

#create_date_to {
  border: 1px solid #edebd9;
  width: 100%;
  margin-left: 10px;
  padding: 4px;
  color: #1f2d10;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("./date.svg");
}

.create_course_title {
  color: #596123;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 8px;
  padding-top: 24px;
}

.create_course {
  width: 100%;
  background: #e5e3c9;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 16px;
}

.create_section {
  margin-right: 0;
  margin-left: 0;
  padding: 16px;
  background: #b4cfb0;
  width: 100%;
  border-radius: 4px;
}

.create_name {
  text-align: center;
}

.create_name_title {
  display: inline-block;
  padding-bottom: 16px;
  padding-right: 30px;
  vertical-align: -3px;
  font-size: 14px;
  font-weight: 400;
}

.create_name_input {
  display: inline-block;
  width: 100%;
}

.create_url {
  text-align: center;
}

.create_url_title {
  display: inline-block;
  padding-right: 30px;
  vertical-align: -3px;
  font-size: 14px;
  font-weight: 400;
}

.create_name_input,
.create_url_input {
  width: 200px;
  height: 28px;
  border-radius: 4px;
  border: none;
}

.create_write_title {
  color: #596123;
  font-size: 12px;
  font-weight: 400;
}

#create_write {
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 8px;
  border: none;
  background: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #edebd9;
  resize: none;
}

.create_course_add_btn {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  margin-top: 16px;
  border: none;
  background: #b4cfb0;
  cursor: pointer;
  justify-content: end;
  align-items: center;
}

.create_btn {
  width: 100%;
  height: 39px;
  border-radius: 4px;
  border: none;
  color: white;
  margin-top: 32px;
  background: #94b49f;
  cursor: pointer;
}
