@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
}

body {
  justify-content: center;
  background-color: rgba(190, 186, 186, 0.877);
  /* background-color: #23AC0E; */
}

.create_header_plan {
  font-size: 32px;
  font-weight: 700;
  margin-top: 8px;
}

.create_title {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 8px;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  background: rgba(190, 186, 186, 0.877);
}

input[type="text"],
[type="date"] {
  padding-left: 8px;
}

#create_date {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  border: none;
  background: rgba(190, 186, 186, 0.877);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.create_container {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  border-radius: 16px;
  width: 100%;
  padding-bottom: 30px;
  padding: 30px;
  display: block;
  background-color: white;
  max-width: 400px;
  min-width: 320px;
}

.create_course {
  width: 100%;
  height: 200px;
  background: rgba(190, 186, 186, 0.877);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.create_section {
  margin-right: 0;
  margin-left: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.create_name {
  text-align: center;
}

.create_name_title {
  display: inline-block;
  padding-bottom: 30px;
  padding-right: 10px;
  vertical-align: -3px;
}

.create_name_input {
  display: inline-block;
  width: 100px;
}

.create_url {
  text-align: center;
}

.create_url_title {
  display: inline-block;
  padding-right: 10px;
  vertical-align: -3px;
}

.create_name_input,
.create_url_input {
  width: 250px;
  height: 30px;
  border-radius: 8px;
  border: none;
}

.create_write {
  width: 100%;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  background: rgba(190, 186, 186, 0.877);
  font-size: 15px;
}

.create_course_add_btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background: white;
  cursor: pointer;
  justify-content: end;
  align-items: center;
}

.create_btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: rgba(190, 186, 186, 0.877);
  cursor: pointer;
  justify-content: end;
  align-items: center;
  margin-left: auto;
  display: block;
}
